<app-dashboard></app-dashboard>
<div class="fondo">
<section class="all">
  <div class="content">
    <div class="container-img">
      <img src="../../../assets/screen cancion.png" class="img" >
    </div>
    <div class="container-btn">
      <button class="btn btn-info acomodar" (click)="reproducir()">Reproducir</button>
    </div>
  </div>
  <div class="content2">
    <h3 class="txt">Abrazame fuerte</h3>
    <h3 class="txt">Ven corriendo a mi</h3>
    <h3 class="txt">Te quiero,te quiero</h3>
    <h3 class="txt">te quiero</h3>
    <h3 class="txt">Y no hago otra cosa</h3>
    <h3 class="txt">Que pensar en ti</h3>
  </div>
</section>
</div>

