.fondo{
    background-color: black;
    height: 602px;
  }
  .all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-img{
    padding: 1rem;
    flex: 1;
  }
  .img{
    width: 15rem;
  }
  .container-btn{
    padding: 0.5rem;
  }
  .content2{
    display: flex;
    flex-direction: column;
  }
  
  .txt{
    color: white;
    font-family: 'Courier New';
    font-size: 3rem;
  }

  @media (max-width:768px){
    .fondo{
      height: 100%;
    }
    .all{
      flex-direction: column;
    }
    .content2{
      min-width: none;
      align-items: center;
    }

    .txt{
      font-size: 1.5rem;
    }
  }

  
  