.fondo{
    background-color: rgb(49, 12, 83);
    height: 602px;
  }
  .content{
    display: flex;
    flex-direction: row;
  }
  .container-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .txt{
    font-family:'Courier New';
    font-size: 30px;
    color: red;
  }
  .txt1{
    font-family:'Courier New';
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .img{
    width: 400px;
    height: 500px;
  }

  @media (max-width:768px){
    .fondo{
      height: 100%;
    }
    .content{
      flex-direction: column;
      padding-top: 2rem;
    }
    .container-txt{
      text-align: center;
    }
    .img{
      width: 20rem;
      height: 25rem;
    }
  }
  