.primero{
    background-color: blueviolet;
    height: 617px;
  }
  .primertitulo{
    font-family: 'Courier New';
    color: white;
    text-align: center;
    margin-left: 20px;
  }
  .logoreg{
    color: white;
    text-align: center;
    margin-left: 20px;
    font-family: 'Courier New';
  }
  .mov{
    width: 100%;
  }
  .imgchat{
    width: 260px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .iniciar{
    font-size: 20px;
    margin-left: 20px;
    color: white;
  }
  .fecha{
    font-family: 'Impact';
    color: white;
    text-align: center;
    margin-top: 210px;
    margin-left: 20px;
  }
  