.fondo{
    background-image:url(../../../assets/museo.webp);
    height: 100%;
  }
  .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
  }
  .txt{
    font-family: 'Courier New';
    text-align: center;
    color: white;
  }
  .txt1{
    font-size: 100px;
    text-align: center;
    color: aqua;
  }
  .txt2{
    font-size: 100px;
    text-align: center;
    color: aqua;
  }
  .collage{
    width: 32%;

  }
  .collage2{
    width: 32%;

  }
  .img{
    width: 40%;

  }
  .img2{
    width: 40%;

  }
  .img3{
    width: 40%;

  }
  .img4{
    width: 30%;
  }
  .img5{
    width: 30%;
  }
  .img8{
  width: 70%;
  }
  .img9{

  width: 50%;
  }

  @media (max-width:768px){
    .txt{
      color: black;
      font-weight: bold;
    }
    .contenedor-flex{
      display: flex;
      flex-direction: column;
    }
    .img4{
      width: 75%;
    }
    .img5{
      width: 75%;
    }
    .img6{
      width: 75%;
    }
    .img-guapa{
      width: 50%;
    }
    .img7{
      width: 50%;
    }
    .txt1,.txt2{
      text-align: center;
      font-size: 1.5rem;
    }
  }
  