.fondo{
    background-color: aqua;
    height: 602px;
  }
  .content{
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-txt1{
    align-items: flex-start;
  }
  .container-txt2{
    display: flex;
    justify-content: flex-end;
  }
  .txt{
    font-family: 'Courier';
  }
  .img{
    width: 750px;
    transition: 0.5s;
  }
  .img:hover{
    
  }
  .txt2{
    font-family: 'Courier';
  }

  @media (max-width:768px){
    .fondo{
      height: 100vh;
      text-align: center;
    }
  }
  