.bg-info{
    height: 602px;
  }
  .content{
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-txt{
    display: flex;
    flex-direction: column;
  }
  .img{
    width: 15rem;
  }
  .txt{
    font-size: 2rem;
    font-family: 'Courier New';
  }

  @media (max-width:768px){
    .bg-info{
      height:100vh;
    }
    .content{
      flex-direction: column;
      gap: 1rem;
    }
    .container-txt{
      padding: 0rem 2rem;
    }
    .img{
      width: 11rem;
    }
    .img:hover{
      width: 15rem;
    }
    .txt{
      font-size: 1.5rem;
      text-align: center;
    }
  }
  