.fondo{
    background-color: rgb(250, 246, 2);
    height: 602px;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
  }
  .img{
    width: 29%;
  }
  
  .txt{
    font-family: 'Courier New';
    font-size: 40px;
    
  }
  
@media (max-width:768px){
  .content{

  }

  .img{
    width: 15rem;
  }

  .container-img{
    flex-direction: column;
  }

  .fondo{
    height: 100vh;
  }

  .txt{
    text-align: center;
  }
}