<app-dashboard></app-dashboard>
<div class="fondo">
  <div class="content">
    <div class="card bg-primary">
      <h5 class="card-header" style="color: white;">Mensaje para mi bb❤</h5>
      <div class="card-body" >
        <p>Deberas que no se como agradecerte estos 2 años, 2 años en los que he aprendido que amar a una mujer vale la pena</p>
        <p>Dos años en los que no me he cansado de mirar esa carita y decir que preciosa esta mi bb</p>
        <p>Dos años que ya suenan bastante y si si me pongo a pensar cada momento que he pasado contigo</p>
        <p>De tantos que son ya no recordaria pero lo que se es que todos y cada uno han sido especiales</p>
        <p>Porque los he vivido y pasado contigo</p>
        <p>Eres una personita de lo mas maravillosa enserio siempre te lo he dicho el afortunado soy yo</p>
        <p>El que se siente con un honor inmenso soy yo porque eres una mujer de lo mas hermosa</p>
        <p>Una princesa, una cosita muy bella, mi bb preciosa</p>
        <p>Te amo y enserio no terminare de agradecerte todos los momentos a tu lado.</p>
        <p>Han sido de lo mas increibles!!!</p>
        <p style="text-align: end;">P.D Nunca enserio nunca olvides lo mucho que te amo</p>
      </div>
    </div>
  </div>
  
</div>
