<app-dashboard></app-dashboard>
<div class="fondo">
  <h1 class="txt">Porque nuestras fotos se vuelvan infinitas</h1>
  <div class="container-img-left">
     <img src="../../../assets/foto1.jpg" class="img"><br>
  </div>
  <div class="container-img-right">
    <img src="../../../assets/foto2.jpg" class="img">
  </div>
</div>
<div class="fondo2">
<div class="container-img-left">
<img src="../../../assets/foto3.jpg" class="img2" alt=""><br>
</div>
<div class="container-img-right">
  <img src="../../../assets/foto4.jpg" class="img3" alt="">
</div>
</div>
<div class="fondo3">
  <div class="container-img">
    <img src="../../../assets/foto5.jpg" class="img-green" alt="">
    <img src="../../../assets/foto6.jpg" class="img-green" alt="">
  </div>
<div>
</div>
</div>
<div class="fondo4">
<div class="container-img-purple">
<img src="../../../assets/foto7.jpg" class="img-purple" alt="">
<img src="../../../assets/foto8.jpg" class="img-purple" alt="">
</div>
</div>
<div class="fondonew">
  <div class="content">
    <div class="container-img-red-left">
      <img src="../../../assets/fotonew.jpg" class="img-red" alt="">
    </div>
    <div class="container-img-red-right">
      <img src="../../../assets/fotonew2.jpg" class="img-red" alt="">
    </div>
  </div>
  </div>
  <div class="fondonew2">
   <div class="container-img">
    <img src="../../../assets/fotonew3.jpg" class="img-blue" alt="">
    <img src="../../../assets/fotonew4.jpg" class="img-blue" alt="">
   </div>
  </div>
  <div class="fondonew3">
  <div class="container-img-yellow-left">
   <img src="../../../assets/fotonew5.jpg" class="img-yellow" alt="">
   <img src="../../../assets/fotonew6.jpg" class="img-yellow" alt="">
  </div>
  <div class="container-img-yellow">
    <img src="../../../assets/fotonew7.jpg" class="img-yellow" alt="">
    <img src="../../../assets/fotonew8.jpg" class="img-yellow" alt="">
  </div>
  </div>
<div class="fondo5">
<div class="container-vert">
<img src="../../../assets/foto9.jpg" class="imgvert" alt="">
<img src="../../../assets/foto10.jpg" class="imgvert2" alt="">
<img src="../../../assets/foto11.jpg" class="imgvert3" alt="">
</div>
</div>
<div class="fondo6-1">
  <div class="container-6-1">
    <div class="container-1">
      <img src="../../../assets/update-3.0/unos_guapos.jpeg" class="img-unos-guapos" alt="">
    </div>
    <div class="container-vert-new">
      <img src="../../../assets/update-3.0/fotonueva1.jpeg" class="foto-nueva-1" alt="">
      <img src="../../../assets/update-3.0/cumpleños_bb.jpeg" class="foto-nueva-1" alt="">
    </div>
  </div>
</div>
<div class="fondo6">
<div class="container">
<h1 class="txtfinal">Una foto un recuerdo hermoso</h1>
<h1 class="txtfinal">Por este y mas momentos en el que me has hecho feliz te amo❤</h1>
</div>
</div>


