<app-dashboard></app-dashboard>
<div class="fondo">
  <h1 class="txt">Reproduce la cancion que gustes</h1>
  <div class="content">
    <div class="container-txt">
      <div class="container-items">
        <h3 class="txt-can">Polaroid</h3>
        <button class="btn btn-dark" (click)="cancion1()">Reproducir</button>
      </div>
      <div class="container-items">
        <h3 class="txt-can">Save your Tears</h3>
        <button class="btn btn-dark" (click)="cancion2()">Reproducir</button>
      </div>
      <div class="container-items">
        <h3 class="txt-can">Hopeless Opus</h3>
        <button class="btn btn-dark" (click)="cancion3()">Reproducir</button>
      </div>
    </div>
    <div class="container-txt">
      <div class="container-items">
        <h4 class="txt-can">100 años</h4>
        <button class="btn btn-dark" (click)="cancion4()">Reproducir</button>
      </div>
     <div class="container-items">
      <h4 class="txt-can">Cambiaste mi vida</h4>
      <button class="btn btn-dark" (click)="cancion5()">Reproducir</button>
     </div>
     <div class="container-items">
      <h4 class="txt-can">Caminar de tu mano</h4>
      <button class="btn btn-dark" (click)="cancion6()">Reproducir</button>
     </div>
    </div>
  </div>
  <div class="final-txt">
    <h1 class="txt">Cada una tiene un significado especial</h1>
  </div>
</div>
