<app-dashboard></app-dashboard>
<div class="fondo">
  <h1 class="txt">Reproduce la cancion que gustes</h1>
  <div class="contenedor">
    <div>
      <h3 class="txt1">Polaroid</h3>
      <button class="btn btn1 btn-dark" (click)="cancion1()">Reproducir</button>
    </div>
    <div>
      <h3 class="txt2">Save your Tears</h3>
      <button class="btn btn2 btn-dark" (click)="cancion2()">Reproducir</button>
    </div>
    <div>
      <h3 class="txt2">Hopeless Opus</h3>
      <button class="btn btn2 btn-dark" (click)="cancion3()">Reproducir</button>
    </div>
  </div><br><br><br><br><br>
  <div class="contenedor">
    <div>
      <h3 class="txt1">100 años</h3>
      <button class="btn btn1 btn-dark" (click)="cancion4()">Reproducir</button>
    </div>
    <div>
      <h3 class="txt4">Me cambiaste la vida</h3>
      <button class="btn btn2 btn-dark" (click)="cancion5()">Reproducir</button>
    </div>
    <div>
      <h3 class="txt2">Caminar de tu mano</h3>
      <button class="btn btn2 btn-dark" (click)="cancion6()">Reproducir</button>
    </div>
  </div><br><br><br>
  <h1 class="tx">Cada una tiene un significado especial</h1>
</div>

