.fondo{
    background-color: black;
    height: 100%;
}
.title{
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 80px;
}
.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 2rem;
}
.img{
    width: 30%;
    border-radius: 20px;
}
.imgcent{
    width: 30%;
    border-radius: 30px;
}
.txtnota{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.imggrande{
    width: 40%;
    border-radius: 50px;
}
.img3{
  width: 30%;
  border-radius: 300px;
}
.img4{
    width: 30%;
    border-radius: 300px;
}
.container-img-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
}
.img5{
    width: 40%;
    border-radius: 10px;
}
.container-img-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}
.img6{
    width: 40%;
    border-radius: 10px;
}
.imgtq{
    border-radius: 100px;
}


@media (max-width:768px){
    .title{
        text-align: center;
        font-size: 3rem;
    }
    .imgtq{
        border-radius: 20px;
        width: 50%;
    }
}