<app-dashboard></app-dashboard>
<div class="fondo">
<h1 class="title">NOTAS BONITAS</h1>
<div class="row">
<div class="col fondo1">
<img (click)="click1()" class="img" src="../../../assets/nuestracasita.png" alt="">
</div>
<div class="col">
<img class="img" (click)="click2()" src="../../../assets/notita1.png" alt="">
</div>
</div><br>
<div>
    <img class="imgcent" (click)="click3()" src="../../../assets/notita2.png" alt="">
</div>
<h3 class="txtnota">Es muy bonito el estarnos motivando aunque sea con una simple notita</h3>
<div class="">
    <img class="imggrande" src="../../../assets/clickbonito.jpg" alt="">
</div><br>
<div class="row">
<div class="col">
<img class="img3" src="../../../assets/feliz.jpeg" alt="">
</div>
<div class="col">
<img class="img4" src="../../../assets/vidabonita.jpeg" alt="">
</div>
<div class="col">
<img class="img4" src="../../../assets/bbpeshosha.jpeg" alt="">
</div>
</div><br>
<div class="">
<img class="img5" src="../../../assets/afortunado.jpeg" alt=""><br>
<img class="img6" src="../../../assets/siestastu.jpeg" alt="">
</div><br>
<div class="">
<img class="imgtq" src="../../../assets/tequiero.jpeg" alt="">
</div>


</div>

