<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nuestra Historia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            2020
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/primermensaje"
                >Primer Mensaje</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/fiesta">Fiesta de 18</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/primerasfotos"
                >Primeras Fotos</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/bautizo"
                >Vestidos Iguales</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            2021
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/msjbonitos"
                >Mensajes Bonitos</a
              >
            </li>
            <li><a class="dropdown-item" routerLink="/salidas">Salidas</a></li>
            <li><a class="dropdown-item" routerLink="/galeria">Galeria</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            2022
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/2años"
                (click)="clarocontinuar()"
                >Cumpliendo 2 años</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/quiz" (click)="resolver()"
                >Quiz</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/notasb" (click)="motivar()"
                >Notitas</a
              >
            </li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/cancion">Nuestra Cancion</a></li>
        <li><a class="nav-link" routerLink="/fotofav">Foto Fav</a></li>
        <li><a class="nav-link" routerLink="/canciones">Canciones</a></li>
        <li>
          <a class="nav-link" routerLink="/secreto" (click)="ver()">Secreto</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/final" (click)="final()">Final</a>
        </li>
        <li><a class="nav-link" (click)="continuara()">Continuara</a></li>
      </ul>
    </div>
  </div>
</nav>
