.fondo{
    background-color: rgb(0, 0, 0);
    height: 602px;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }
  .contenedor{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .contenedor2{
    display: flex;
    gap: 2rem;
  }
  .card{
    background-color: aqua;
    width: 200px;
    height: 133px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .card2{
    background-color: yellow;
    height: 70px;
  }
  .card3{
    background-color: crimson;
    height: 100px;
  }
  .card4{
    background-color: rgb(0, 255, 13);
    width: 200px;
    height: 150px;
  }
  .card5{
    background-color: darkorange;
    border-radius: 100px;
    width: 400px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .card6{
    background-color: darkviolet;
    border-radius: 50px;
    margin-top: 60px;
    width: 600px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .txt{
    font-family: 'Courier New';
    text-align: center;
  }
  .txt1
  {
    font-family: 'Courier New';
  }
  .txt2{
    font-family: 'Courier New';
    text-align: center;
    margin-top: 10px;
  }
  .txt3{
    font-family: 'Courier New';
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  .txt4{
    font-family: 'Courier New';
    font-size: 50px;
    color: white;
    text-align: center;
  }
  .txt5{
    font-family: 'Courier New';
    color: white;
    text-align: center;
  }
  
@media (max-width:768px){
  .fondo{
    height: 100%;
  }
  .content{
    padding: 2rem;
    margin: 0;
  }
  .contenedor{
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
  }
  .contenedor2{
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
  }
  .card5{
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  .card6{
    width: 360px;
  }
}  