<app-dashboard></app-dashboard>
<div class="fondo">
<div class="content">
<div class="contenedor">
  <div class="card">
    <h3 class="txt">Eres lo mejor que me ha pasado</h3>
  </div>
  <div class="card card2">
    <h3 class="txt">El amor de mi vida</h3>
    </div>
    <div class="card card5">
      <h3 class="txt3">Mi princesa</h3>
      <h3 class="txt4">Hermosa</h3>
    </div>
</div><br>
<div class="contenedor2">
  <div class="card card3">
    <h3 class="txt2">Mi bb preciosa</h3>
  </div>
  <div class="card card4">
   <h3 class="txt2">Fan #1 de ti y de tus logros❤</h3>
  </div>
  <div class="card card6">
    <h3 class="txt5">Cada una de estas palabras</h3>
    <h3 class="txt5">son porque te amo mucho❤</h3>
  </div>
</div>
</div>
</div>

