<app-dashboard></app-dashboard>
<div class="fondo">
  <div class="content">
    <h1 class="txt">UN DIA MUY ESPECIAL YA QUE RECIBIMOS HERMOSOS REGALOS</h1>
    <div class="fondo2">
        <h3>Comimos en Tacostao</h3>
        <video class="video" controls muted autoplay src="../../../assets/Videos/VID-20220412-WA0001.mp4" alt=""></video>
    </div>
  </div><br>
    <div class="fondo3">
      <h3 class="txtmio">Regalo para mi:</h3>
      <div class="container-video">
        <video autoplay controls muted class="video" src="../../../assets/Videos/regalomio.mp4"></video>
        <video autoplay controls muted class="video" src="../../../assets/Videos/videomio2.mp4"></video>
        <video autoplay controls muted class="video" src="../../../assets/Videos/regalomio3.mp4"></video>
      </div>
    </div>
      <h3 class="txtbb">El regalo mas hermoso que le he hecho a mi bb❤</h3>
      <p class="txtbonito">una pagina que al pasar de los años se volvera mas y mas importante ya que tendras lo momentos mas inolvidables</p>
      <div class="fondo5">
        <div class="container-video">
          <video autoplay controls muted class="videobb" src="../../../assets/Videos/bbemocionada.mp4"></video>
          <video autoplay controls muted class="videobb" src="../../../assets/Videos/bbemocionada2.mp4"></video>
          <video autoplay controls muted class="videobb" src="../../../assets/Videos/bbimpresionada.mp4"></video>
        </div>
    </div>
    <h1 class="titlefoot">AMO VER COMO TE EMOCIONAS CON CADA REGALO</h1>
    <div class="last-video">
        <video autoplay controls muted class="videobbemoc" >
          <source src="../../../assets/Videos/videoquemasmegusto.mp4" type="">
        </video>
    </div>
    <h1 class="final">Por este y mas aniversarios a tu lado</h1>
</div>