.fondo{
    background-color: crimson;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
.txtmio{
    color: white;
}
.fondo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 500px;
    border-radius: 20px;
    padding: 1rem 0rem;
}
.video{
   width: 300px;
   height: 300px;
}
.fondo3{
    background-color: blue;
    height: 400px;
    border-radius: 10px;
}
.container-video{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}
.txtbb{
    color: white;
    text-align: center;
}
.txtbonito{
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.videobb{
    width: 300px;
    height: 350px;
}
.fondo5{
    height: 400px;
    background-color: violet;
    padding-left: 80px;
}
.titlefoot{
    color: white;
    font-family: 'Courier New';
    text-align: center;
}
.last-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.videobbemoc{
    width: 550px;
    height: 550px;
}
.final{
    color: white;
    font-family: 'Courier New';
    text-align: center;
}